<a href="https://colab.research.google.com/github/Puru-Gupta/WDO_NGO_Data_Scraper/blob/main/NGO_Data_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##‚úÖ::::::::::::::**World Development Organisation**:::::::::::::::::‚è≤
                 ----------**Data Mining**----------
                ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ‚úâ

                  Website used : https://ngodarpan.gov.in/

In [ ]:
#---------------------------------------------------------------------------------------#
'''
" World Development Organisation"

  By Purushottam Gupta(intern)
  
  11/22/2021
  Monday
  Email: Purushottamgupta2021@outlook.com
'''
#---------------------------------------------------------------------------------------#

'\n" World Development Organisation"\n  By Purushottam Gupta\n  11/22/2021\n  Monday\n\n'

In [ ]:
#===================================With this code, You can scrap as many page you want======================================#

'''
Disclaimer
  File Excel sheet have columns name as:

            "Name"	"Address	Sector"	"Registration No."	"City"	"State"
            
 All other detail fill manually (In case, if you have better approach.... Reach out to me () )           
'''

'\nDisclaimer\n  File Excel sheet have columns name as:\n\n            "Name"\t"Address\tSector"\t"Registration No."\t"City"\t"State"\n            \n All other detail fill manually (In case, if you have better approach.... Reach out to me () )           \n'

In [ ]:
#importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import numpy as np
import urllib.request
import string

In [ ]:
#@title Install Packages
!pip install emath@git+git://github.com/whitead/emoji-math.git

In [ ]:
# create an Empty List:
Name_f = []
Address_f = []
Registration_f =[]
Sector_f =[]

In [ ]:
#Extracting Table using BeautifulSoup
## Get in more Detail here: https://beautiful-soup-4.readthedocs.io/en/latest/

def scrape_website(page_num):
  page = str(page_num)
  url="https://ngodarpan.gov.in/index.php/home/statewise_ngo/6259/24/"+ page + "?per_page=10"
  response=requests.get(url)
  soup=BeautifulSoup(response.text,"html.parser")
  table = soup.find_all('table')
  df = pd.read_html(str(table))[0]
  data = pd.DataFrame(df)
  # data['Doc_name'] = Doc_name
  # data['Doc_des']= Doc_Regis
  # data['Doc_Name'] = Doc_Name
  # data['Doc_depart'] = Doc_depart
  # data['Doc_exp'] = Doc_exp
  Name_f.append(data['Name of VO/NGO'])
  Registration_f.append(data['Registration No.,City & State'])
  Address_f.append(data['Address'])
  Sector_f.append(data['Sectors working in'])


üìò I was assigned **"Gujrat State"** from page number **174-136**. <br>
üìô Write range of your given page number in **range( x, y )** function.(Assigned to you)

In [ ]:
####Looping over the Function created above { "scrape_website()" }

n= 174
for page_count in range(136,174):
  scrape_website(page_count)

In [ ]:
#Creating Data Frame 
Address_df =pd.DataFrame(Address_f).T
Name_df = pd.DataFrame(Name_f).T
Registration_df =pd.DataFrame(Registration_f).T
Sector_df =pd.DataFrame(Sector_f).T

In [ ]:
Address_df[:1]

                             Address  ...                                            Address
0  Himavan, Paldi, Ahmedabad-380006.  ...  JANKALYAN MEDICAL SOCIETYNAVNEET CANCER RESEAR...

[1 rows x 38 columns]

In [ ]:
## Creating Unique name columns here

In [ ]:
###############################################################
col_nme = []
count = 1
for column in Address_df.columns:
    if column == 'Address':
        col_nme.append(f'Address_{count}')
        count+=1
        continue
    col_nme.append(column)
Address_df.columns = col_nme

###############################################################

In [ ]:
Address_df[:1]

                           Address_1  ...                                         Address_38
0  Himavan, Paldi, Ahmedabad-380006.  ...  JANKALYAN MEDICAL SOCIETYNAVNEET CANCER RESEAR...

[1 rows x 38 columns]

In [ ]:
#####################################################################

col_nme = []
count = 1
for column in Sector_df.columns:
    if column == 'Sectors working in':
        col_nme.append(f'Sector_{count}')
        count+=1
        continue
    col_nme.append(column)
Sector_df.columns = col_nme

In [ ]:
Sector_df[:1]

   Sector_1  ...                                        Sector_38
0  Children  ...  Health & Family Welfare,Health & Family Welfare

[1 rows x 38 columns]

In [ ]:
#################################################################

col_nme = []
count = 1
for column in Name_df.columns:
    if column == 'Name of VO/NGO':
        col_nme.append(f'Name_{count}')
        count+=1
        continue
    col_nme.append(column)
Name_df.columns = col_nme

####################################################################

In [ ]:
Name_df[:1]

                           Name_1  ...                    Name_38
0  Gujarat Rajya Bal Kalyan Sangh  ...  JANKALYAN MEDICAL SOCIETY

[1 rows x 38 columns]

In [ ]:
################################################################
col_nme = []
count = 1
for column in Registration_df.columns:
    if column == 'Registration No.,City & State':
        col_nme.append(f'Registration_{count}')
        count+=1
        continue
    col_nme.append(column)
Registration_df.columns = col_nme

#################################################################

In [ ]:
Registration_df[:1]

                Registration_1  ...                          Registration_38
0  E-1068, Ahmedabad (GUJARAT)  ...  F-242/KACHCHH, MANDVI KACHCHH (GUJARAT)

[1 rows x 38 columns]

In [ ]:
# Stacking(appending) all columns

In [ ]:
oneCol = []
for k in Address_df.columns:
    oneCol.append(Address_df[k])

Address = pd.DataFrame(oneCol)
Address = pd.concat(oneCol, ignore_index=True)

In [ ]:
oneCol = []
for k in Registration_df.columns:
    oneCol.append(Registration_df[k])

Registration = pd.DataFrame(oneCol)
Registration = pd.concat(oneCol, ignore_index=True)

In [ ]:
oneCol = []
for k in Sector_df.columns:
    oneCol.append(Sector_df[k])

Sector = pd.DataFrame(oneCol)
Sector = pd.concat(oneCol, ignore_index=True)

In [ ]:
oneCol = []
for k in Name_df.columns:
    oneCol.append(Name_df[k])

Name = pd.DataFrame(oneCol)
Name = pd.concat(oneCol, ignore_index=True)

In [ ]:
############## Combining all DataFrame ##################

In [ ]:
df_list = [Name, Address, Sector, Registration]
Final_df = pd.DataFrame(df_list).T
Final_df.shape

(380, 4)

In [ ]:
Final_df.rename(columns={0: 'Name', 1: 'Address', 2: 'Sector', 3: 'Registration'}, inplace=True)
Final_df[:5]

                                                Name  ...                       Registration
0                     Gujarat Rajya Bal Kalyan Sangh  ...        E-1068, Ahmedabad (GUJARAT)
1                    GUJARAT RAJYA GRAM VIKAS SAMITI  ...          F308, AHMEDABAD (GUJARAT)
2  Gujarat Rajya Hastkala And Women Audyogik Saha...  ...        U-6556, Ahmedabad (GUJARAT)
3               GUJARAT RAJYA JAMEEN GUMAVNAR MANDAL  ...         E-3847, MAHESANA (GUJARAT)
4      GUJARAT RAJYA PACCHAT VARG GRAM VIKAS PARISAD  ...  F/795, Barwala Ghelasha (GUJARAT)

[5 rows x 4 columns]

In [ ]:
#Split column into 'Registration No.' and 'City & State'
Col_spl =Final_df['Registration'].str.split(',', expand=True)
Col_spl

In [ ]:
#Split column into City and State
Col_no=Col_spl[1].str.split('(', expand=True)
Col_no[1] = Col_no[1].str[:-1]
Col_no

                      0        1
0            Ahmedabad   GUJARAT
1            AHMEDABAD   GUJARAT
2            Ahmedabad   GUJARAT
3             MAHESANA   GUJARAT
4     Barwala Ghelasha   GUJARAT
..                  ...      ...
375            ARVALLI   GUJARAT
376              KHEDA   GUJARAT
377       SABAR KANTHA   GUJARAT
378          Ahmedabad   GUJARAT
379           Vadodara   GUJARAT

[380 rows x 2 columns]

In [ ]:
#Updating columns
Final_df['Registration No.']=Col_spl[0]
Final_df['City']=Col_no[0]
Final_df['State']=Col_no[1]

In [ ]:
Final_df = Final_df.drop('Registration', axis=1)

In [ ]:
Final_df

                                                  Name  ...    State
0                       Gujarat Rajya Bal Kalyan Sangh  ...  GUJARAT
1                      GUJARAT RAJYA GRAM VIKAS SAMITI  ...  GUJARAT
2    Gujarat Rajya Hastkala And Women Audyogik Saha...  ...  GUJARAT
3                 GUJARAT RAJYA JAMEEN GUMAVNAR MANDAL  ...  GUJARAT
4        GUJARAT RAJYA PACCHAT VARG GRAM VIKAS PARISAD  ...  GUJARAT
..                                                 ...  ...      ...
375                                    JANKALYAN TRUST  ...  GUJARAT
376                              JANKALYAN TRUST LAVAL  ...  GUJARAT
377                     JANKALYAN YUVAK MANDAL DACHAKA  ...  GUJARAT
378                            JANKI ASHRAM SEVA TRUST  ...  GUJARAT
379                              JANKI JANKALYAN TRUST  ...  GUJARAT

[380 rows x 6 columns]

In [ ]:
# determining the name of the file
file_name = 'NGO_Data.xlsx'
  
# saving the excel
Final_df.to_excel(file_name, index = False)

# `Belew code is used to just visualise the saved file`

In [ ]:
# Reading an excel file using Python
import xlrd
 
# Give the location of the file
loc = ("/content/NGO_Data.xlsx")
 
excel_file = pd.read_excel(r'/content/NGO_Data.xlsx')
excel_df = pd.DataFrame(excel_file)

In [ ]:
excel_df

                                                  Name  ...    State
0                       Gujarat Rajya Bal Kalyan Sangh  ...  GUJARAT
1                      GUJARAT RAJYA GRAM VIKAS SAMITI  ...  GUJARAT
2    Gujarat Rajya Hastkala And Women Audyogik Saha...  ...  GUJARAT
3                 GUJARAT RAJYA JAMEEN GUMAVNAR MANDAL  ...  GUJARAT
4        GUJARAT RAJYA PACCHAT VARG GRAM VIKAS PARISAD  ...  GUJARAT
..                                                 ...  ...      ...
375                                    JANKALYAN TRUST  ...  GUJARAT
376                              JANKALYAN TRUST LAVAL  ...  GUJARAT
377                     JANKALYAN YUVAK MANDAL DACHAKA  ...  GUJARAT
378                            JANKI ASHRAM SEVA TRUST  ...  GUJARAT
379                              JANKI JANKALYAN TRUST  ...  GUJARAT

[380 rows x 6 columns]